/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header - Navbar Background */
header {
    background-color: #111; /* Siyaha yakın bir arka plan rengi */
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #b3ffb3;
    margin-right: 0; /* Logo sola hizalı kalır */
}
nav {
    display: flex;
    justify-content: space-between; /* Logo sola, sosyal ikonlar sağa hizalanır */
    align-items: center;
    width: 100%;
}

nav .social-icons-nav {
    display: flex;
    gap: 15px;
    margin-left: auto; /* Sosyal ikonları sağa hizalar */
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 20px; /* Menü öğelerini logodan ayırır */
    padding: 0;
    flex-grow: 1; /* Menü öğelerini ortalar */
    justify-content: center; /* Menü öğelerini ortalar */
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #b3ffb3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #66ff66;
}

nav .social-icon {
    font-size: 20px;
    color: #b3ffb3;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav .social-icon:hover {
    color: #66ff66;
    transform: scale(1.1);
}
/* Hero Section */
#hero {
    height: 100vh;
    background: url('images/background.png') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    flex-direction: column;
    position: relative;
}

.hero-content {
    display: flex;
    flex-direction: column; /* İçerikleri dikeyde hizala */
    align-items: center; /* Tüm içerikleri ortala */
    text-align: center; /* Yazıyı ortala */
    padding: 20px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero-content .btn {
    background-color: #ff6347;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-content .btn:hover {
    background-color: #e5533d;
    transform: scale(1.05);
}


.hero-about h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero-about p {
    font-size: 18px;
    line-height: 1.6;
}

/* Scrolling Text Animation */
.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Fade In Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* Projects Section */
#projects {
    padding: 60px 20px;
    background-color: #f4f4f9;
    text-align: center;
}

#projects h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.project-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Add space between items */
}

.project-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Fixed width for all items */
    display: flex;
    flex-direction: column; /* Ensure children are stacked vertically */
    justify-content: space-between; /* Space between the content and the buttons */
    height: 100%; /* Make all items have equal height */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.project-item img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.project-item h3 {
    margin-top: 20px;
    font-size: 24px;
}

/* Contact Section */
#contact {
    background-color: #111; /* Navbar ile aynı renk */
    padding: 60px 20px;
    text-align: center;
    color: #fff; /* Beyaz yazı rengi */
}

#contact h2 {
    color: #b3ffb3; /* Navbar'daki logo rengi ile uyumlu */
    margin-bottom: 20px;
    font-size: 32px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #b3ffb3; /* Navbar ile uyumlu */
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    color: #66ff66; /* Hover durumunda yeşil tonuyla uyumlu */
}
/* Footer */
footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* Skills Section */
#skills {
    padding: 80px 20px;
    text-align: center;
    background-color: #f4f4f9;
}

.skills-title {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.skills-subtitle {
    font-size: 20px;
    color: #777;
    margin-bottom: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.skill-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    width: 100%;
    max-width: 300px; /* Increase width from 200px to 300px */
    text-align: center;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    background-color: #ff6347;
    color: #fff;
}

.skill-card h3 {
    font-size: 24px;
    margin: 15px 0 10px;
}

.skill-card p {
    font-weight: bold;
    color: #444; /* Change the color */
    margin-bottom: 10px; /* Add some space between the description and the list */
    font-size: 18px; /* Adjust the size */
    line-height: 1.4; /* Improve readability */
}

.skill-card img {
    max-width: 48px;
    transition: transform 0.3s ease;
}

.skill-card:hover img {
    transform: rotate(360deg);
}

/* Responsive */
@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}

/* Experience Section */
#experience {
    padding: 80px 20px;
    background-color: #fff;
    text-align: center;
}

.experience-title {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.experience-subtitle {
    font-size: 20px;
    color: #777;
    margin-bottom: 40px;
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.timeline-item {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 20px 0;
}

.timeline-date {
    flex: 1;
    max-width: 150px;
    text-align: right;
    font-weight: bold;
    color: #555;
    margin-right: 20px;
}

.timeline-content {
    flex: 4;
    background-color: #f4f4f9;
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding:20px;
}

.timeline-content h3 {
    font-size: 24px;
    margin: 0; /* H3 ve H4 başlıklarının üst ve alt boşluğunu sıfırla */
}

.timeline-content h4 {
    font-size: 18px;
    color: #ff6347;
    margin: 0; /* H3 ve H4 başlıklarının üst ve alt boşluğunu sıfırla */
}

.timeline-content p {
    color: #555;
    font-size: 16px;
}
.timeline-content ul {
    padding-left: 20px; /* Liste elemanlarını içeri doğru taşır */
}

.timeline-content ul li {
    list-style-position: inside; /* Liste işaretlerinin içeride olmasını sağlar */
}
.timeline-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 100%;
    background-color: #ff6347;
}

.timeline-item:last-child:before {
    height: 50%;
}

.timeline-item:nth-child(odd) .timeline-content {
    background-color: #fff;
}

@media (max-width: 768px) {
    .timeline {
        display: block;
    }

    .timeline-item {
        display: block;
        text-align: left;
    }

    .timeline-date {
        text-align: left;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Profile Photo Right */
.profile-photo-right {
    border-radius: 50%; /* Fotoğrafı yuvarlak yapar */
    width: 150px; /* Fotoğrafın genişliği */
    height: 150px; /* Fotoğrafın yüksekliği */
    object-fit: cover;
    margin-left: 20px; /* Fotoğraf ile metin arasında boşluk bırakır */
}
/* Text Content */
.text-content {
    max-width: 600px;
}

.hero-header {
    display: flex;
    flex-direction: row; /* Resim ve metni yatayda hizala */
    justify-content: center; /* İçerikleri ortala */
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo-left {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 180px; /* Resim ile yazı arasında boşluk bırak */
}
@media (max-width: 768px) {
    .hero-header {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center;
    }

    .text-content {
        text-align: center; /* Center the text on smaller screens */
    }

    .profile-photo-right {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

.hero-about {
    margin-top: 20px; /* Butonun altına boşluk bırak */
    max-width: 1000px;
    text-align: left;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Hafif şeffaf arka plan */
    border-radius: 10px;
    color: #fff;
}

/* Buton Tasarımı */
.btn-small {
    display: inline-block;
    padding: 10px 20px;
    margin: 8px;
    background-color: #ff6347; /* Buton rengi */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

.btn-small:hover {
    background-color: #e5533d; /* Hover'da buton rengi */
    transform: scale(1.05); /* Hover efekti */
}

/* İş Deneyimi Kartı İçin Flexbox Ayarları */
.job-header {
    display: flex;
    align-items: center; /* Logo ve yazıyı yatayda hizala */
    gap: 20px; /* Logo ve yazı arasında boşluk bırak */
    margin-bottom: 10px; /* Altına boşluk bırak */
}

.job-logo {
    width: 50px; /* Logonun genişliği */
    height: auto; /* Yüksekliği otomatik ayarla */
    object-fit: contain; /* Logonun düzgün görünmesi için */
}

.skill-card ul {
    padding-left: 20px; /* Adds padding to the left of the list */
}

.skill-card li {
    margin-bottom: 5px;
    font-size: 16px;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.project-buttons .btn-small {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.project-buttons .btn-small:hover {
    background-color: #e5533d;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .project-item {
        width: 100%; /* Full width on smaller screens */
        margin-bottom: 20px; /* Add some spacing between items */
    }
}

.chips-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.chip {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 15px;
    border-radius: 25px;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.chip:hover {
    background-color: #ff6347;
    color: #fff;
}


.timeline-date .duration {
    display: block;
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

.duration-bar {
    position: absolute;
    left: 50%;
    width: calc(2 * 5%); /* Calculate based on duration, e.g., 2 years = 40% */
    height: 10px;
    background-color: #ff6347;
    margin-top: 10px;
    border-radius: 5px;
}

/* Different sizes based on durations */
.short-duration { /* For durations less than 6 months */
    width: 20%;
}

.medium-duration { /* For durations between 6 months and 1 year */
    width: 40%;
}

.long-duration { /* For durations of 1 year and above */
    width: 60%;
}

.social-icons-tab {
    list-style: none; /* Liste işaretlerini kaldırır */
    padding: 0; /* Gereksiz boşlukları kaldırır */
    display: flex;
    flex-direction: column; /* Elemanları alt alta dizer */
    align-items: center; /* Elemanları yatayda ortalar */
    justify-content: center; /* Elemanları dikeyde ortalar */
}

.social-icons-tab li {
    display: flex;
    align-items: center; /* İkonları ve metni dikeyde ortalar */
    margin-bottom: 10px; /* İkonlar arasında boşluk bırakır */
}

.social-icons-tab li i {
    margin-right: 10px; /* İkon ile platform ismi arasında boşluk bırakır */
}

.social-icons-tab li a {
    color: #b3ffb3; /* Yazı rengini ikonlarla uyumlu yapar */
    text-decoration: none; /* Altı çizili olmadan platform ismini gösterir */
    font-weight: bold; /* Platform ismini vurgular */
}

.social-icons-tab li a:hover {
    color: #66ff66; /* Üzerine gelince renk değişimi */
}
.social-icons-tab .social-icon {
    font-size: 20px;
    color: #b3ffb3; /* İkonlar da navbar ile uyumlu */
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons-tab .social-icon:hover {
    color: #66ff66; /* İkonların hover durumu */
    transform: scale(1.1); /* Hover animasyonu */
}